.navbar {
    display: flex;
    border-radius: 16px;
    border: 1px solid white;
    justify-content: space-between;
    padding : 10px 20px ;
}
body{
    display: block;
    margin: 0px 10px;
    background-image:url(../images/bg-dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.glass {
    margin: auto;
    padding: 20px;
    border: 1px solid white;
    border-radius: 16px;
    background-color: rgba(255, 255 , 255 , 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter : blur(20px);
}
* {
    color: white;
}
.card-glass {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}